<div id="link-modal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Link</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label>Text</label>
            <input type="text" class="text form-control" [(ngModel)]="text" (keydown.enter)="onAddLink()"/>
          </div>
          <div class="form-group">
            <label>Link</label>
            <input type="text" class="href form-control" [(ngModel)]="href" (keydown.enter)="onAddLink()"/>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="onAddLink()">Add link</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
