.sport-tile {
  margin: 20px;
  display: inline-block;
  text-decoration: none;
}

.sport-name {
  font-size: 20px;
  text-align: center;
  line-height: 140px;
  vertical-align: middle;
}

.dashboard {
  top: 70px;
}
