<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <form>
        <div class="form-group">
            <label for="space">Space and Time</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="glyphicon glyphicon-home"></i></div>
              <select id="space" class="form-control">
                <option>Field 1</option>
                <option>Field 2</option>
              </select>
            </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon"><i class="glyphicon glyphicon-time"></i></div>
            <select id="time" class="form-control">
              <option>11:30</option>
              <option>12:30</option>
            </select>
          </div>
        </div>
        <div class="form-group">
            <label for="guests">Guests</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="glyphicon glyphicon-user"></i></div>
              <select id="guests" class="form-control">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
              </select>
            </div>
        </div>
        <button type="button" class="btn btn-primary">I'm in!</button>
      </form>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <div *ngIf="sport">Sport: {{sport.name}}</div>
    </div>
  </div>
</div>
