<div class="well">
  <form class="form-inline">
    <input type="text" class="form-control" [(ngModel)]="comment" (key.enter)="onSubmit()"/>
    <button class="btn btn-primary" (click)="onSubmit()">Comment</button>
  </form>
</div>
<div *ngIf="comments.length" class="well">
  <table class="table table-bordered">
    <tr *ngFor="let comment of comments">
      <td>
        <img src="app/img/unknown.jpeg" />
      </td>
      <td>
        <a href="http://sww.sas.com/sww/tools/phonelist/?keyword={{comment.participantId}}">{{comment.participantId}}</a> {{comment.timestamp | date:'MMMM d yyyy, h:mm:ss a'}}
        <br/>
        {{comment.text}}
      </td>
    </tr>
  </table>
</div>
