.participant {
  display: inline-block;
  margin: 0 10px 10px 0;
  padding: 10px;
}

.participant.me {
  border-color: #000;
  cursor: pointer;
}

.participant > div {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.participant > div > img {
  width: 53px;
  height: 66px;
}
