<div class="container-fluid">
  <div class="row">
    <div class="col-md-8">
      <form class="form-inline">
        <button *ngIf="editService.edit" class="btn btn-danger glyphicon glyphicon-trash" (click)="onDeleteActivity(activity)" title="Delete activity"></button>
        <div class="form-group">
          <div class="name">{{activity.name}}</div>
        </div>
        <a *ngIf="editService.edit" class="add-event" (click)="onAddEvent(activity)" title="Add event"><i class="glyphicon glyphicon-plus"></i></a>
      </form>
      <pickup-events [activity]="activity"></pickup-events>
    </div>
    <div class="col-md-4">
      <div class="well">
        <div class="form-group">
          <bootstrap-datepicker [(date)]="date" (change)="onDateChange($event)"></bootstrap-datepicker>
        </div>
      </div>
      <pickup-comments [comments]="activity.comments"></pickup-comments>
    </div>
  </div>
</div>
<event-dialog></event-dialog>
