.participant {
  display: inline-block;
  margin: 0 10px 10px 0;
  padding: 10px;
}

.participant.me {
  border-color: #000;
  cursor: pointer;
}

.participant > div {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.participant > div > img {
  width: 53px;
  height: 66px;
}

.event {
  padding-top: 10px;
  border-bottom: 1px solid #e0e0e0;
}

.event .control-label {
  font-weight: bold;
  font-size: 24px;
  margin: 0px 5px;
}

button {
  min-width: 100px;
}
