<form class="form-inline">
  <div class="form-group">
    <div class="input-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="glyphicon glyphicon-home"></span>
          <span>{{space ? space.name : 'Space ...'}}</span>
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li *ngFor="let space of spaces">
            <a (click)="onSelectSpace(space)">{{space.name}}</a>
          </li>
        </ul>
    </div>
    <span> @ </span>
    <div class="input-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="glyphicon glyphicon-time"></span>
          <span>{{time ? time.name : 'Time ...'}}</span>
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li *ngFor="let time of times">
            <a (click)="onSelectTime(time)">{{time.name}}</a>
          </li>
        </ul>
    </div>
    <span> with </span>
    <div class="input-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="glyphicon glyphicon-user"></span>
          <span>{{guest}} Guests</span>
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a (click)="onSelectGuest(0)">0</a></li>
          <li><a (click)="onSelectGuest(1)">1</a></li>
          <li><a (click)="onSelectGuest(2)">2</a></li>
          <li><a (click)="onSelectGuest(3)">3</a></li>
          <li><a (click)="onSelectGuest(4)">4</a></li>
        </ul>
    </div>
    <button type="button" class="btn btn-success" (click)="onSubmit()">
      <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> I'm in!
    </button>
  </div>
</form>
