<div *ngFor="let event of events">
  <form class="form-inline event">
    <div class="form-group">
      <button *ngIf="event.participants.indexOf(me) === -1" class="btn btn-success" (click)="onAddMe(event)"><i class="glyphicon glyphicon-thumbs-up"></i> I'm in!</button>
      <button *ngIf="event.participants.indexOf(me) !== -1" class="btn btn-danger" (click)="onRemoveMe(event)"><i class="glyphicon glyphicon-thumbs-down"></i> I'm out!</button>
      <span class="control-label">{{event.space.name}} @ {{event.time.name}}</span>
    </div>
  </form>
  <div class="participant well" *ngFor="let participant of event.participants"
          [class.me]="participant.participantId === USER_ID">
    <div>
      <img src="app/img/unknown.jpeg" />
    </div>
    <div>{{participant.name}}</div>
  </div>
</div>
