<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <form class="form-inline">
        <div class="form-group">
          <div class="name">{{activity.name}}</div>
        </div>
        <button class="btn btn-danger pull-right" (click)="onDeleteActivity(activity)"><i class="glyphicon glyphicon-trash"></i> Delete</button>
        <!-- <a class="btn btn-danger pull-right" (click)="onDeleteActivity(activity)" [routerLink]="['/dashboard']"><i class="glyphicon glyphicon-trash"></i> Delete</a> -->
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <pickup-events [events]="activity.events"></pickup-events>
    </div>
    <div class="col-md-4">
      <div class="well">
        <div class="form-group">
          <bootstrap-datetimepicker>Loading...</bootstrap-datetimepicker>
        </div>
      </div>
      <pickup-comments [comments]="activity.comments"></pickup-comments>
    </div>
  </div>
</div>
